
<div class="modal fade" [id]="'ComicModal'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" *ngIf="comic">
      <div class="modal-body" *ngIf="!loading">
        <div class="row">
          <div class="col-xs-12 top-button-wrapper">
            <a href="#" (click)="closebtn.click()" class="pull-right" ><img  src="assets/icons/btn-close.png"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 image-wrapper">
            <img class="comic-img" src="{{comic.thumbnail}}">
          </div>
          <div class="col-xs-8 comic-wrapper">
            <h1 class="comic-title comic-title-size" >{{comic.title}}</h1>
          </div>
          <div class="col-xs-8 hidden-xxs comic-wrapper">
            <p  class="comic-description" >{{comic.description}}</p>
          </div>
          <div class="col-xs-12 show-xxs comic-wrapper">
            <p  class="comic-description" >{{comic.description}}</p>
          </div>
        </div>
      </div>

      <div class="row footer-wrapper" *ngIf="!loading">
        <div class="col-xs-6 comic-no-favourite" [ngClass]="setAddToFavouriteClasses()" (click)="addToFavs()">
          <h4 class="text-center float-left btn-text-add-to-favs responsive-h4">
            <i class="add-to-favourites icon align-bottom "></i>
            <span class="hidden-xxs">Add to Favourites</span>
          </h4>
        </div>
        <div class="col-xs-6 hidden comic-favourite" [ngClass]="setFavouriteClasses()" (click)="removeFromFavs()" >
          <h4 class="text-center float-left btn-text-default responsive-h4">
            <i class="added-favourites icon align-bottom"></i>
            <span class="hidden-xxs">Added to Favourites</span>
          </h4>
        </div>
        <div class="col-xs-6 comic-shop" (click)="openUrl()">
          <h4 class="text-center float-left btn-text-default responsive-h4">
            <i class="comic-buy icon align-bottom"></i>
            <span class="hidden-xxs">Buy for {{comic.price}}</span>
          </h4>
        </div>
      </div>

      <div class="modal-body" *ngIf="loading">
        <div class="loading"></div>
      </div>

    </div>
  </div>
</div>

<button id="openModalButton" #closebtn class="close hidden" data-dismiss="modal"  data-toggle="modal" data-target="#ComicModal">Open Modal</button>
