<div class="col-xs-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
          <img class="col-xs-6" src="http://i.annihil.us/u/prod/marvel/i/mg/d/d0/5269657a74350.jpg">
          <h4>Thor</h4>
          <p>As the Norse God of thunder and lightning, Thor wields one of the greatest weapons ever made, the enchanted hammer Mjolnir. While others have described Thor as an over-muscled, oafish imbecile, he's quite smart and compassionate.  He's self-assured, and he would never, ever stop fighting for a worthwhile cause. </p>
      <div>
      <h4>Related Comics</h4>
      <div class="row">
          <p class="col-xs-6">Related Comic 1</p>
          <p class="col-xs-6">Related Comic 2</p>
          <p class="col-xs-6">Related Comic 3</p>
          <p class="col-xs-6">Related Comic 4</p>
      </div>
    </div>
  </div>
</div>
