<div class="col-xs-12 col-md-6">
  <div class="panel panel-default char-panel">
    <div class="panel-body">
      <div class="row">
          <div class="col-xs-6 col-md-6 img-container">
            <img src={{char.thumbnail}} height="850" width="850">
          </div>
          <div class="col-xs-6 col-md-6 comics-detail">
            <div class="text-container">
              <h4 class="char-title">{{char.name | uppercase}} </h4>
              <p class="char-description">{{char.description | slice:0:160}}...</p>
              <button class="btn">VIEW MORE</button>
            </div>
          </div>

          <div class=" hidden-xs hidden-sm col-md-12 comics-container">
            <h4>Related Comics</h4>
            <div class="row comics-detail">
              <div class="col-xs-6" *ngFor="let comic of char.comicList">
                <p class="char-comics">{{comic.name | slice:0:50}}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
