<div class="col-xs-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
          <img class="col-xs-6" src={{char.thumbnail}}>
          <h4>{{char.name}}</h4>
          <p>{{char.description}}</p>
      <div>
      <h4>Related Comics</h4>
      <div class="row">
          <p class="col-xs-6">{{char.comics[0]}</p>
          <p class="col-xs-6">{{char.comics[1]}</p>
          <p class="col-xs-6">{{char.comics[2]}</p>
          <p class="col-xs-6">{{char.comics[3]}</p>
      </div>
    </div>
  </div>
</div>
