/* Char Container */

.char-panel > .row > .img-wrapper > img{
  border-radius: 50%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
  display: inline-block;
  height: 11em;
  left: -0.5em;
  position: relative;
  top: -2.5em;
  width: 11em;

}

.char-panel{
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 2em;
  background-color: #fff;
  width: 90%;
  height: 22em;
}

/* Char bio */

.char-title{
  margin-bottom: 0;
  position: relative;
  text-transform: uppercase;
  top: -1.3em;
}

.char-description{
  display: -webkit-box;
  font-size: 0.8em;
  font-weight: 300;
  margin-bottom: 0.6rem;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  top: -1.3em;
  position: relative;
}

/* char comics */
.char-comics{
  font-size: 0.8em;
  margin-top: 2px;
  height: 100%;
  margin-right: 4%;
}

.text-wrapper{
  width:22em;
}

.img-wrapper{
  padding-top: 2em;
  width:11em;
  height:12em;
}

.comics-container{
  padding: 1rem;
}

.comics-detail{
  position: relative;
  padding: 1rem;
}
.text-container{
  position: absolute;
  top: -35px;
  left: -5px;
}

ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}


.related-comics{
  list-style: none;
  padding: 0;

}


.related-comics li {
  display: inline-block;
  width: 100%;
}

.related-comics li:nth-child(odd) {
  margin-right: 4%;
}

.related-comics li:hover {
  color: #e91f23;
}

.related-comics li:hover .related-comic {
  width: 80%;
}

.related-comics li:hover .fa.fa-long-arrow-right {
  display: inline-block;
}

.related-comics .related-comic {
  display: inline-block;
  width: 100%;
}

.related-comics .fa.fa-long-arrow-right {
  display: none;
  vertical-align: top;
  width: 10%;
}

.related-comics .related-comic a {
  color: #000;
  display: -webkit-box;
  font-size: 0.8em;
  font-weight: 300;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.related-comics .related-comic a:hover {
  color: #ec1e23;
  text-decoration: none;
}

.related-comics .related-comic a:visited,
.related-comics .related-comic a:focus {
  text-decoration: none;
}

@media (max-width: 991px) {
  .char-panel{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2em;
    background-color: #fff;
    width: 90%;
    height: 11em;
  }
}

@media (max-width: 450px) {
.char-panel > .row > .img-wrapper > img{
  border-radius: 50%;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
  display: inline-block;
  height: 8em;
  left: -0.5em;
  position: relative;
  top: -2.5em;
  width: 8em;
}
.img-wrapper{
  padding-top: 2em;
  width:8em;
  height:8em;
}
  .char-panel{
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2em;
    background-color: #fff;
    width: 90%;
    height: 13em;
  }
}

