.panel{
    margin: 5px 20px 5px 20px;
    width: 100%;
    height: auto;
}

.panel-body > .row > .col-xs-6 > img{
  border-radius: 50%;
  width:100%; /* you can use % */
  height: auto;
}

.panel-body > .row > p{
 font-size: 10em;
}

p {
  padding-left:10px;
  padding-right:10px;
}

