.char-list-header{
  padding: 10px;
  margin-bottom: 20px;
}

.col-right{
  height: 40px;
  margin-top:20px;
  width:20vw;
  text-transform: none;
  text-align: left;
}

.btn{
  border: 1px solid #DCDCDC;
}
.sort-dropdown{
  float: right;
}
.char-list-footer{
    text-align: center;
    padding: 0px;
    width: 100%;
}



.char-list-footer ul {
    display: inline-block;
    text-align: initial;
}

.char-list-body{
    padding-right: 50px;
}

.icon.characters {
  background: url('assets/icons/characters.png') no-repeat;
}
.icon {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  width: 40px;
}

.char-text{
  font-size:30px;
}

@media (max-width: 500px) {
  .char-text{
    font-size: 20px;
  }

  .col-right{
    height: 40px;
    margin-top:20px;
    width: 30vw;
    text-transform: none;
    text-align: left;
  }

}

.loading{
    width: 80vw;
    height: 90vh;
    background: url('assets/icons/spinner.svg') no-repeat center center;
}

