.app-wrapper{
  max-height: 90vw;
  overflow: hidden;
}

.left-column{
  background: rgb(244,244,244);
  max-height: 90vw
}
.right-column{
  background: rgb(235,235,235);
  max-height: 90vw;
}

.row{
  background: rgb(235,235,235);
}

body{
  background-color: #f4f4f4;
  color: #473f3d;
}

.main{
  width: 100%;
}
