
<div class="modal fade" [id]="char.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body ">
        <div class="row">
          <div class="col-xs-12 top-button-wrapper">
            <a href="#" (click)="closebtn.click()" class="pull-right" ><img  src="assets/icons/btn-close.png"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4  image-wrapper text-center">
            <img class="comic-img" src="{{char.thumbnail}}">
          </div>
          <div class="col-xs-12 col-md-8 comic-wrapper">
            <h1 class="comic-title h2" >{{char.name | uppercase}}</h1>
            <p  class="comic-description" >{{char.description}}</p>
          </div>
        </div>
        <ul class="related-comics pre-scrollable" >
          <li *ngFor="let comic of char.allComics">
            <div class="related-comic"><a href="#" (click)="closebtn.click(); callModal(comic.resourceURI)" class="char-comics">{{comic.name}}</a> </div>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button #closebtn id="modal-button-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" (click)="addRandomComics()" class="btn btn-primary">Add Random Comics</button>
      </div>
    </div>
  </div>
</div>

