.btn-close-modal{
  background: url("assets/icons/btn-close.png") no-repeat;
  padding: 5px;
}


.comic-img{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.top-button-wrapper{
  height: auto;
  margin-bottom: 5px;
  padding: 5px 20px 0px;
}

.image-wrapper{
  margin-bottom: 15px;

}

.comic-wrapper{
  max-height:20vh;
  overflow: scroll;
  padding-right: 60px;
}


.comic-title{
  margin-top: 0;
  text-transform: uppercase;
}

.comic-description{
  display: -webkit-box;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0.6rem;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.related-comics{
  max-height:30vh;
  overflow: scroll;
}

@media (max-width: 991px) {
  .comic-img{
    width: 30vw;
    height: auto;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .comic-title{
    font-size:24px;
  }
}

@media (max-width: 492px) {
  .comic-title{
    font-size:20px;
  }

}
