<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Marvel Comic Search Engine" src="assets/Marvel-Logo.png">
      </a>
    </div>

      <form class="navbar-form">
        <div class="form-group" style="display:inline;">
        <div class="input-group search-container" style="display:table;">
          <input type="text" #term class="form-control search-box" id="search" placeholder="Search" (keyup)="search(term.value)"/>
        </div>
        </div>
      </form>

  </div><!-- /.container-fluid -->
</nav>
