.container{
  padding: 5px 5px 5px 5px ;
  margin:0px 10px;
  height: 60px ;
}

.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #2D2727;
}

.input-wrapper{
  margin: auto 0px;
  display: inline;
}

.navbar-form{
  padding-top: 0px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height:100%;
  padding: 1px 10px 1px 10px ;
  width: auto;
}

.search-container{
  display: table;
  margin:auto;
  width: auto;
}

.search-box{
    margin-top:8px;
    margin-bottom:8px;
    margin-left:70px;
    width: 35vw;
    background: url("assets/icons/search.png") no-repeat right;
    background-color: white;

}

.img-box{
  padding-right: 10px;
  padding-top: 5px;
  cursor: hand;
  cursor: pointer;
}

.image-wrapper{
  padding-right: 5px;
}
