<nav class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">

      <div class="col-xs-2 col-sm-2">
        <a class="navbar-brand navbar-brand-overide" href="#">
          <img class="" alt="Marvel Comic Search Engine" src="assets/Marvel-Logo.png">
        </a>
      </div>

      <div class="col-xs-8 col-sm-9">
          <form class="form-group input-wrapper">
              <div class="input-group search-container" >
                <input type="text" #term class="form-control search-box" id="search" placeholder="Search" (keyup)="search(term.value)"/>
              </div>
          </form>
      </div>

      <div class="col-xs-1 hidden-sm hidden-lg hidden-md image-wrapper pull-right">

        <img alt="favourites" *ngIf="isCharacter" class="img-box pull-right" src="assets/icons/favourites.png" (click)="viewInMain('favourites')">
        <img alt="characters" *ngIf="!isCharacter" class="img-box pull-right" src="assets/icons/characters.png" (click)="viewInMain('characters')">

      </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->
  </div>
</nav>
