<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Marvel Comic Search Engine" src="/assets/Marvel-Logo.png">
      </a>
    </div>

    <form class="navbar-form navbar-nav">
      <div class="form-group">
        <input type="text" #term class="form-control" id="search" placeholder="Search" (keyup)="search(term.value)"/>
      </div>
    </form>

  </div><!-- /.container-fluid -->
</nav>
