.comic-image{
  width: 100%;
  height: auto;
  margin: 0px;
}

.comic-wrapper{
  width: 80%;
  position: relative;
  margin: auto;
  margin-bottom: 40px;

}

.center-div{
  text-align:center;
}

.comic-erase{
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: hand;
  cursor: pointer;
}

